<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="ConnectionStringEmbus" connectionString="Data Source=A4-DB-30-01-80-;Initial Catalog=EMBUS;Persist Security Info=True;User ID=sa;Password=ilcapitano10"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- El proveedor ADO.NET  -->
    <add key="PROVEEDOR" value="System.Data.SqlClient" />
    <!-- La cadena de conexion -->
    <add key="CADENA" value="Data Source=A4-DB-30-01-80-; DataBase=EMBUS;Connect Timeout=30;Integrated Security=True" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
